/*!******************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./src/scss/style.scss ***!
  \******************************************************************************************************************************************/
@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  background: black;
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 10px;
}

.header {
  padding: 10px 0;
}
.header__body {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header__logo {
  flex-shrink: 0;
}
.header__logo--hidden {
  display: none;
}
.header__search-panel {
  display: flex;
  margin-left: 20px;
  flex-direction: row-reverse;
  transition: 0.75s;
}
.header__search-panel--full-width {
  flex-basis: 100% !important;
  margin-left: 0;
}

.logo {
  fill: white;
}
.logo__img {
  height: 35px;
  width: 164px;
}

.search-panel__field {
  width: 100%;
  padding: 20px 17px;
  transition: 1s;
  letter-spacing: 1px;
  font-size: 18px;
}
.search-panel__field--hidden {
  width: 0;
  padding: 20px 0;
}
.search-panel__field--no-transition {
  transition: none !important;
}

.button {
  padding: 0px 15px;
  background: linear-gradient(45deg, #f761a1, #8c1bab);
}

.gifs-section__body {
  margin: -5px;
  overflow: hidden;
}
.gifs-section__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gifs-section__gif {
  display: block;
  margin: 5px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.trending__title {
  color: white;
  font-size: 24px;
  text-align: left;
  font-weight: 700;
  margin-bottom: 10px;
}

.search-result--hidden {
  display: none;
}
